@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* STARTS HEADER */
header {
    background: linear-gradient(to right, #ffffff, #ffc400e0);
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 2.8em;
    position: fixed;
    width: 100vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.253);
}


h2 {
    display: inline-flex;
    text-shadow: 18px 8px 3px #00000056;
    font-weight: 900;
}
/* ENDS HEADER */

/* START NAVBAR  */
    .navBar {
    display: inline-flex;
    padding-left: 30vw;
    }

    .navBar > ul {
    display: flex;
    list-style-type: none;
    text-align: flex-end;
    }

    .navBar > ul > li > a {
    text-decoration: none;
    margin: 0 1em 0 1em;
    font-weight: 600;
    
    }

    a {
        color: black;
    }
/* ENDS NAVBAR */




/* STARTS INICIO */
    #sec_home {
        padding: 20em 0 20em 12em;
        background-image: url(../images/electricist.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        align-content: end;
        background-attachment: fixed;
    }
    #sec_home > p {
        width: 18.7em;
        font-size: 2em;
        font-weight: 900;
        color: rgb(2, 2, 2);
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 20px 0 20px 0;
        background: linear-gradient(to right, #ffffff, #ffc400a1);
        /* text-shadow: 2px 3px 1px #000; */
    }

    #sec_home > h1 {
        font-size: 4em;
        background-color: #ffffffa6;
        padding: 15px;
        margin-top: 0.5em;
        width: 12em;
        border-radius: 0 20px 0 20px;
        display: inline-flex;
    }

/* ENDS INICIO */


/* STARTS SECTION 1 */
    #sec_1 {
        display: flex;
        justify-content: space-evenly;
    }
    #sec_1 > p {
        display: flex;
        text-align: center;
    }
    .divsSec1 {
        width: 20%;
        height: 50%;
        text-align: center;
    }
    .divsSec1 > p {
        padding-bottom: 2em;
        font-weight: 900;
    }
/* ENDS SECTION 1 */



/* STARTS SECTION 2 */
    #sec_2 {
        padding-top: 6em;
        padding-bottom: 6em;
        display: flex;
        justify-content: space-evenly;
    }
    .divsSec2 {
        width: 15%;
        height: 100%;
        padding: 1em;
        /* border: 1px solid black; */
        text-align: center;
        /* border-radius: 5px  ; */
    }
    .sec_2__divs_p {
        padding-bottom: 2em;
    }
/* ENDS SECTION 2 */


/* STARTS SECTION 3 */



/* ENDS SECTION 3 */




/* MEDIA QUERY */
    /* Media query para dispositivos con un ancho de pantalla de 600px o menos */
/* ENDS MEDIA QUERY */