@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* body {
    max-height: 50vh; */ /* Limita el ancho máximo del cuerpo al 100% del tamaño de la ventana */
    
/* } */

/* STARTS HEADER */
header {
    background: linear-gradient(to right, #ffffff, #ffc400e0);
    padding-bottom: 1.2em;
    padding-top: 1.2em;
    padding-left: 2.8em;
    position: fixed;
    width: 100vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.253);
}


h2 {
    display: inline-flex;
    font-weight: 900;
}
/* ENDS HEADER */

/* START NAVBAR  */
    .navBar {
    display: inline-flex;
    padding-left: 30vw;
    }

    .navBar > ul {
    display: flex;
    list-style-type: none;
    text-align: flex-end;
    }

    .navBar > ul > li > a {
    text-decoration: none;
    margin: 0 1em 0 1em;
    font-weight: 600;
    
    }

    a {
        color: black;
    }

    a:hover {
        color: rgb(250, 42, 6);
        transition: color 0.10s;
    }

/* ENDS NAVBAR */




/* STARTS INICIO */
    #sec_home {
        padding: 30vh 0 30vh 10vw;
        background-image: url(../images/electricist.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        align-content: end;
        background-attachment: fixed;
    }
    #sec_home > p {
        width: 18.7em;
        font-size: 2em;
        font-weight: 900;
        color: rgb(2, 2, 2);
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 20px 0 20px 0;
        background: linear-gradient(to right, #ffffffd2, #ffc62a94);
        /* text-shadow: 2px 3px 1px #000; */
    }

    #sec_home > h1 {
        font-size: 3.7em;
        color: rgb(0, 0, 0);
        background-color: #e7e7e7a6;
        padding: 15px;
        margin-top: 0.5em;
        font-weight: 600;
        width: 11.6em;
        border-radius: 0 60px 0 60px;
        display: inline-flex;
    
        background: linear-gradient(to right, #fffffff8, #ffc62a94);
    }

/* ENDS INICIO */


/* STARTS SECTION 1 */
    #sec_1 {
        display: flex;
        justify-content: space-evenly;
        padding-top: 4.2em;
        padding-bottom: 6em;
        align-items: center;
        text-align: center;
        flex: 1;
        background: linear-gradient(to right, #fffffff8, #ffc62a94);
    }
    #sec_1 > p {
        display: flex;
        text-align: center;
    }

    .imagen_sec1{
        width: 7em;
        margin: 1em 0 2em 0;
    }

    .divsSec1 {
        width: 20%;
        height: 50%;
        text-align: center;
        
    }
    .sec_1__divs_p {
        font-size: 1.3em;
    }
    .divsSec1 > p {
        font-weight: 900;
        font-size: ;   
    }
    
    
/* ENDS SECTION 1 */



/* STARTS SECTION 2 */
    #sec_2 {
        display: flex;
        background: linear-gradient(to bottom, #00000094, #ffffff94, #ffbe0b94 );
    }
    .sec_2__div1 {
        width: 55%;
        font-weight: 900;
        margin: 8em;
        font-size: 0.9em;
    }
    .sec_2__div2 {
        width: 45%;
        font-weight: 900;
        margin: 10em;
        font-size: 0.9em;
    } 

    .sec_2__div1_pTitle {
        font-size: 2em;
        padding: 0.4em;
    }

/* ENDS SECTION 2 */


/* STARTS FOOTER */
    footer {
        font-weight: 900;
        padding: 5em;
        display: flex;
        justify-content: space-between;
        text-align: flex-start;
        background-color: rgb(51, 46, 46);
        color: rgb(221, 211, 211);
    }

    .footer__div1 {
        width: 30%;
        margin-right: 8em;
        
        
    }

    .footer__div2 > ul {
        list-style-type: none;
        padding-right: 5em;

    }

    span {
        color: #f1a517;
    }
    
/* ENDS FOOTER */


/* MEDIA QUERY */
    /* Media query para dispositivos con un ancho de pantalla de 600px o menos */
/* ENDS MEDIA QUERY */